<div class="banner">

  <div id="header">
    <div class="wrap">
      <div id="slide-holder">
        <div id="slide-runner">
          <a href=""><img src="/assets/shop1/banner1.jpg" id="slide-img-1" alt="" class="slide"/></a>
          <a href=""><img src="/assets/shop1/banner2.jpg" id="slide-img-2" alt="" class="slide"/></a>
          <a href=""><img src="/assets/shop1/banner3.jpg" id="slide-img-3" alt="" class="slide"/></a>
          <a href=""><img src="/assets/shop1/banner4.jpg" id="slide-img-4" alt="" class="slide"/></a>

          <div id="slide-controls">


            <p id="slide-nav"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      if (!window.slider) var slider = {};
      slider.data = [
          {"id":"slide-img-1", "client":"nature beauty", "desc":"nature beauty photography"},
          {"id":"slide-img-2", "client":"nature beauty", "desc":"add your description here"},
          {"id":"slide-img-3", "client":"nature beauty", "desc":"add your description here"},
          {"id":"slide-img-4", "client":"nature beauty", "desc":"add your description here"}
      ];
  </script>

</div>