<div id="content" style="width: 720px; padding-left: 240px;">

<p><img src="/assets/shop1/line-latest-products.png" width="691" height="1"/></p>

<p class="float_right"><span class="text_11">&copy; 2012 Thefootballshirt All Rights Reserved</span>.</p>

<%= render 'spree/shared/google_analytics' %>


  <div class="grid_10 prefix_3 suffix_3" style="text-align: left; padding-top: 10px;">

    <a href="http://www.facebook.com/thefootballshirtdotcom"><%= image_tag "thefootballshirtdotcom.gif" %></a>
    <a href="https://twitter.com/#!/thefootballshir"><%= image_tag "Follow-us-on-twitter.jpeg" %></a>
  </div>

</div>
