<%= form_tag products_url, :method => :get, :class =>"search-box3" do %>

    <div class="input-append">
      <input class="span3" id="appendedInputButton" size="50" placeholder="Search ..." type="text"><%= submit_tag "Go!", :class => "btn btn-primary" %>


    </div>



<% end %>
