<div id="content2">
  <%#= render "shared/store3/taxonomies" %>
  <%#= render "shared/footballshirt/sidebar_left"  %>

</div>

<div id="content" class='show-product'>
  <% @body_id = 'product-details' %>


  <div id="body_content">
    <div class="top-box-770"></div>
    <div class="title">
      <h1><%= accurate_title %></h1>
    </div>
    <div class="content content-770" style="padding-bottom: 0;">

    </div>

    <div class="footer-770"></div>
  </div>
</div>
