<a href="<%= paypal_payment_order_checkout_url @order, :payment_method_id => payment_method %>" style="text-align: center;">
  <%= image_tag('paypal_payment.gif', :align => "left", :style => "margin-right:7px;") %>
</a>
