* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: #a4a4a4;
    cursor: default;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    background-color: #000;
    background-position: 50% 0;
    background-repeat: no-repeat;
    font-family: Tahoma, sans-serif;
}

a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

a img {
    border: 0;
}

div.wrap {
    width: 690px;
    margin: 0 auto;
    text-align: left;
}

div#top div#nav {
    float: left;
    clear: both;
    width: 690px;
    height: 52px;
    margin: 22px 0 0;
}

div#top div#nav ul {
    float: left;
    width: 700px;
    height: 52px;
    list-style-type: none;
}

div#nav ul li {
    float: left;
    height: 52px;
}

div#nav ul li a {
    border: 0;
    height: 52px;
    display: block;
    line-height: 52px;
    text-indent: -9999px;
}

div#header {
    margin: -1px 0 0;
}

div#video-header {
    /*height : 683px;*/
    margin: -1px 0 0;
}

div#header div.wrap {
    height: 299px;
    /*background : url(images/header-bg.png) no-repeat 50% 0;*/
}

div#header div#slide-holder {
    z-index: 40;
    width: 690px;
    height: 370px;
    position: absolute;
}

div#header div#slide-holder div#slide-runner {
    top: 9px;
    left: 9px;
    width: 690px;
    height: 370px;
    overflow: hidden;
    position: absolute;
}

div#header div#slide-holder img {
    margin: 0;
    display: none;
    position: absolute;
}

div#header div#slide-holder div#slide-controls {
    left: 0;
    bottom: 0px;
    width: 690px;
    height: 46px;
    display: none;
    position: absolute;
    /*background : url(images/slide-bg.png) 0 0;*/
}

div#header div#slide-holder div#slide-controls p.text {
    float: left;
    color: #fff;
    display: inline;
    font-size: 10px;
    line-height: 16px;
    margin: 15px 0 0 20px;
    text-transform: uppercase;
}

div#header div#slide-holder div#slide-controls p#slide-nav {
    float: right;
    height: 24px;
    display: inline;
    margin: 11px 15px 0 0;
}

div#header div#slide-holder div#slide-controls p#slide-nav a {
    float: left;
    width: 24px;
    height: 24px;
    display: inline;
    font-size: 11px;
    margin: 0 5px 0 0;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.order-description{
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}

div#header div#slide-holder div#slide-controls p#slide-nav a.on {
    background-position: 0 -24px;
}

div#header div#slide-holder div#slide-controls p#slide-nav a {
    background-image: url(/images/store3/silde-nav.png);
}

div#nav ul li a {
    background: url(/images/store3/nav.png) no-repeat;
}

.h_subm_content {
    display: none;
}

#header_submenus {
    font: normal 12px arial, helvetica;
    color: #CCC;
}

#header_submenus .h_subm_content {
    width: 580px;
    height: 356px;

    /*	padding: 0px 0px 0px 50px;*/
    margin-left: -85px;
    margin-top: 0px;
    padding-bottom: 20px;
    color: #CCC;
    background: url(/images/store3/inner_menu.png) no-repeat;
    overflow: hidden;
    padding-top: 5px;
    padding-left: 20px;
    border: 1px solid #FFF;

}

.h_subm_content {
    float: left;
}

.teams_subm_column {
    width: 162px;
    float: left;
    display: block;
    margin-right: 15px;
}

.space_bottom_top_menu {
    background: url(/images/store3/line-menu-product.png) no-repeat bottom;
    padding-bottom: 5px;
    margin-bottom: 2px;
    margin-top: 5px;
    font-size: 11px;
}


/*------------------------------*/
.dcjq-vertical-mega-menu .menu {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    position: relative;
}

.dcjq-vertical-mega-menu ul li,.dcjq-vertical-mega-menu ul li li li {
    background: url(/images/store3/line-menu-product.png) no-repeat bottom;
    text-align: left;
}
.dcjq-vertical-mega-menu ul li li{
    background: none;
}

.dcjq-vertical-mega-menu ul li a {
    background: url(/images/store3/arrow-menu.png) left no-repeat;
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 50px;
}

.dcjq-vertical-mega-menu ul li li a {
    margin-left: 0;
}

ul {
    list-style: none outside none;
}

.dcjq-vertical-mega-menu .menu {
    font-size: 12px;
}
