<div id="content">

  <%= render "spree/theme/shop1/best_seller" %>

  <div id="body_content">
    <div class="top-box-770"></div>
    <div class="title" style="text-align: center;font-size: 12px;">
      <%= t(:no_products_found) %>
    </div>
    <div class="footer-770"></div>
  </div>
</div>