<% if current_user %>
  <ul id="login-nav">

    <li><%= link_to t(:account), spree.edit_user_path(current_user) %></li>
    <li><%= link_to t(:logout), spree.destroy_user_session_path %></li>

  </ul>
<% end %>
