<div class="content content-770 order-description">
    <h3>Items Descriptions</h3>
    <p>Brand new, never worn and come with tags. <br/> 100% High quality material.</p>

    <p class="topic_item">Size Available</p>
    <p>  - Size : M   (Chest Length 40-42 Inches,Length 27-29 Inches) <br/>
         - Size : XL  (Chest Length 45-47 Inches,Length 30-32 Inches)</p>

    <p class="topic_item">Special Promotions.</p>
    <p> - Customers can customize all name and number for FREE.<br/>
        - If customers purchase more than 7 shirts per order, we will ship order by Express Air Mail.
        </p>

    <p class="topic_item">Shipping and Return Policy</p>
    <p>
      - Shipping will take around 2 - 4 weeks depended on your location.<br/>
       - Shipping cost is 8.00 GBP for first item and 6.00 GBP for each additional items in the same package.<br/>
       - Please wait around 4 weeks before open a claim or contact us first. We will solve all problems.<br/>
       - Shipping is by DHL air mail or Express air mail.

    </p>

    <p>Your satisfaction is 100% guarantee. If you don't happy with my items in any reason, I will give you full refund or send you the new one.
</p>

</div>