<a href="<%= paypal_checkout_orders_checkout_url @checkout.order, :integration_id => integration %>" style="text-align: center;">
  <%= image_tag('paypal_payment.gif', :align => "left", :style => "margin-right:7px;") %>
</a>
